<launch>

  <!--<include file="$(find dvrk_robot)/launch/test_dvrk_full.launch"/>-->

  <node name="basic_controls" type="basic_controls" pkg="interactive_marker_tutorials" />
  <node name="dvrk_to_rvinci" type="dvrk_to_rvinci" pkg="dvrk_to_rvinci" />
  <node name="dvrk_camera_mode" type="dvrk_camera_mode" pkg="dvrk_camera_mode"/>
  
  <include file="$(find ur10_moveit_config)/launch/planner.launch">
  
  </include>

  <!--
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find rvinci)/launch/rvinci.rviz" />
   -->
</launch>
