<launch>

  <!--<include file="$(find dvrk_robot)/launch/test_dvrk_full.launch"/>-->

  <node name="basic_controls" type="basic_controls" pkg="interactive_marker_tutorials" />
  <node name="dvrk_to_rvinci" type="dvrk_to_rvinci" pkg="dvrk_to_rvinci" output="screen"/>
  <node name="rvinci_dvrk_haptics" type="rvinci_dvrk_haptics" pkg="rvinci_dvrk_haptics" output="screen"/>

  <!--
  <param name="satellite_description"
	 command="$(find xacro)/xacro.py $(find rvinci)/urdf/satellite.urdf.xacro" />
  -->
  <include file="$(find rvinci)/launch/planner.launch">  
  </include>

  <!--
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find rvinci)/launch/rvinci.rviz" />
   -->

</launch>
